#  Professional and Occupational Licensing

This notebook is a continuation of exploratory analysis conducted on the [Disciplinary Actions for Professional and Occupational Licensees dataset for the state of delaware](https://github.com/seyeadekanye/Disciplinary-Action-ODD/blob/master/Disciplinary%20Action.ipynb). This dataset contains "This dataset contains information about individuals who have applied for, currently hold or previously held a professional or occupational license issued by the State of Delaware" (for certain industries).

### We hope to answer the follwong questions from this dataset:
* 
* 
* 

We will be using the pandas module for the data manipulation, while using the matplotlib and seaborn packages for our visualizations.

### Necessary data  set(s)
[Disciplinary Actions for Professional and Occupational Licensees](https://data.delaware.gov/Licenses-and-Certifications/Disciplinary-Actions-for-Professional-and-Occupati/dz6p-akeq)

[Professional and Occupational Licensing] (https://data.delaware.gov/Licenses-and-Certifications/Professional-and-Occupational-Licensing/pjnv-eaih)





*Written on January 29, 2018 by Seye Adekanye*

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook

In [105]:
url_licenses = "https://data.delaware.gov/resource/dhqa-h9is.csv?$limit=300000"
data = pd.read_csv(url_licenses, low_memory=False)

In [124]:
url_fines = "https://data.delaware.gov/resource/wqvn-hw3m.csv?$limit=6000"
data2 = pd.read_csv(url_fines, low_memory=False)

In [29]:
data.head()

,city,combined_name,count,country,disciplinary_action,expiration_date,first_name,issue_date,last_name,license_no,license_status,license_type,licensee_url,licensee_url_description,profession_id,state,zip_code
0,Philadelphia,"Paulson, Melyssa M.",1,United States,N,2003-03-31T00:00:00.000,Melyssa,2001-08-09T14:49:00.000,Paulson,C7-0002313,Expired-Must Reapply,ACGME Training,https://dpronline.delaware.gov/mylicense%20web...,NaN,Medical Practice,PA,19107
1,Wilmington,"Dholakia, Madhun",1,United States,N,2005-03-31T00:00:00.000,Madhun,2004-07-26T00:00:00.000,Dholakia,C7-0003059,Expired-Must Reapply,ACGME Training,https://dpronline.delaware.gov/mylicense%20web...,NaN,Medical Practice,DE,19899
2,Collegedale,"Sims, Naomi Reneau",1,United States,N,2001-09-30T00:00:00.000,Naomi,2001-01-17T00:00:00.000,Sims,L1-0029470,Lapsed-Must Reinstate,Registered Nurse,https://dpronline.delaware.gov/mylicense%20web...,NaN,Nursing,TN,37315
3,Newark,"Macklin, Kevin, Sr.",1,United States,N,2010-03-31T00:00:00.000,Kevin,2005-10-14T00:00:00.000,Macklin,D1-0001215,Null and Void,Barber,https://dpronline.delaware.gov/mylicense%20web...,NaN,Cosmetology and Barbering,DE,19711
4,Pasadena,"Miller, Ronald J",1,United States,N,2006-06-30T00:00:00.000,Ronald,2005-03-10T00:00:00.000,Miller,T1-0005253,Expired-Must Reapply,Master Electrician,https://dpronline.delaware.gov/mylicense%20web...,NaN,Electrical Examiners,MD,21122

In [106]:
data.shape

(251605, 17)

In [31]:
data['profession_id'].unique()

array(['Medical Practice', 'Nursing', 'Cosmetology and Barbering',
       'Electrical Examiners', 'Real Estate', 'Charitable Gaming',
       'Real Estate Appraisers', 'Controlled Substances', 'Geologists',
       'Accountancy', 'Architecture', 'Physical Therapy/Athletic Trg',
       'Social Work Examiners', 'Pharmacy', 'Landscape Architecture',
       'Massage Bodywork', 'Speech and Hearing',
       'Nursing Home Administrators', 'Veterinary Medicine', 'Psychology',
       'Chiropractic', 'Plumbing/HVACR', 'Funeral Services', 'Dentistry',
       'Combative Sports', 'Occupational Therapy', 'Optometry',
       'Mental Health', 'Dietitians/Nutritionists', 'Home Inspectors',
       'Deadly Weapons Dealers', 'Land Surveyors', 'Pilots',
       'Manufactured Home Installation', 'Podiatry', '<any>',
       'Adult Entertainment'], dtype=object)

In [33]:
data2.head()

,combined_name,count,disp_end,disp_start,first_name,item_text,last_name,license_id_l,license_type,profession_id
0,"Jones, Matthew T.",1,NaN,2017-06-13T00:00:00.000,Matthew,Remedial Education,Jones,N1-0002718,Veterinarian,Veterinary Medicine
1,"Jones, Matthew T.",1,NaN,2017-06-13T00:00:00.000,Matthew,Probation,Jones,N1-0002718,Veterinarian,Veterinary Medicine
2,"Fortner, Elizabeth Buckley",1,NaN,2011-06-03T00:00:00.000,Elizabeth,Letter of Reprimand,Fortner,G2-0002068,Dental Hygienist,Dentistry
3,"Hynson, Lauren Marie",1,2017-07-14T00:00:00.000,2017-04-12T00:00:00.000,Lauren,Remedial Education,Hynson,L1-0041565,Registered Nurse,Nursing
4,"Hensley, Leslie A Doughty",1,2017-07-16T00:00:00.000,2013-07-16T00:00:00.000,Leslie,Probation,Hensley,L6-0A00209,Certified Registered Nurse Anesthetist,Nursing

In [34]:
data2.shape

(5078, 10)

Which professions are common to both datasets?

In [107]:
A = data['profession_id'].unique()
B = data2['profession_id'].unique()
list(set(A).intersection(set(B)))

['Manufactured Home Installation',
 'Physical Therapy/Athletic Trg',
 'Geologists',
 'Mental Health',
 'Combative Sports',
 'Optometry',
 'Plumbing/HVACR',
 'Land Surveyors',
 'Electrical Examiners',
 'Speech and Hearing',
 'Chiropractic',
 'Deadly Weapons Dealers',
 'Real Estate',
 'Medical Practice',
 'Controlled Substances',
 'Nursing',
 'Social Work Examiners',
 'Real Estate Appraisers',
 'Massage Bodywork',
 'Landscape Architecture',
 'Pharmacy',
 'Pilots',
 'Cosmetology and Barbering',
 'Dentistry',
 'Accountancy',
 'Psychology',
 'Podiatry',
 'Nursing Home Administrators',
 'Home Inspectors',
 'Occupational Therapy',
 'Charitable Gaming',
 'Funeral Services',
 'Veterinary Medicine',
 'Architecture',
 'Adult Entertainment']

Drop all rows from `data` dataset where `profession_id` is not in `data2` dataset

In [108]:
list(set(A).difference(set(B)))

['Dietitians/Nutritionists', '<any>']

In [109]:
data = data[data.profession_id != '<any>']
data = data[data.profession_id != 'Dietitians/Nutritionists']

In [110]:
data.reset_index(drop=True);

In [111]:
data.shape

(251012, 17)

In [112]:
len(data[data['profession_id']== 'Medical Practice'])

22696

In [113]:
count = {}
for p in data['profession_id']:
    try:
        count[p] += 1
    except KeyError:
        count[p] = 1

In [114]:
count

{'Accountancy': 14328,
 'Adult Entertainment': 5,
 'Architecture': 4078,
 'Charitable Gaming': 24958,
 'Chiropractic': 746,
 'Combative Sports': 384,
 'Controlled Substances': 10964,
 'Cosmetology and Barbering': 19035,
 'Deadly Weapons Dealers': 366,
 'Dentistry': 2455,
 'Electrical Examiners': 18062,
 'Funeral Services': 559,
 'Geologists': 949,
 'Home Inspectors': 168,
 'Land Surveyors': 557,
 'Landscape Architecture': 596,
 'Manufactured Home Installation': 143,
 'Massage Bodywork': 4715,
 'Medical Practice': 22696,
 'Mental Health': 1087,
 'Nursing': 65242,
 'Nursing Home Administrators': 658,
 'Occupational Therapy': 1870,
 'Optometry': 424,
 'Pharmacy': 9256,
 'Physical Therapy/Athletic Trg': 5936,
 'Pilots': 180,
 'Plumbing/HVACR': 3261,
 'Podiatry': 202,
 'Psychology': 1189,
 'Real Estate': 26507,
 'Real Estate Appraisers': 3307,
 'Social Work Examiners': 1501,
 'Speech and Hearing': 2303,
 'Veterinary Medicine': 2325}

Next we deal with the strange date formats. We will be converting these columns to datetime objects.

In [115]:
from datetime import datetime
disciplinary_start_date = []
for date in data2['disp_start']:
    try:
        date = date[0:10]
        disciplinary_start_date.append(datetime.strptime(str(date),'%Y-%m-%d'))
    except:
        disciplinary_start_date.append(date) 
data2['disp_start'] = disciplinary_start_date
        
        
license_issue_date = []
for date in data['issue_date']:
    try:
        date = date[0:10]
        license_issue_date.append(datetime.strptime(str(date),'%Y-%m-%d'))
    except:
        license_issue_date.append(date)
data['issue_date'] = license_issue_date

In [119]:
license_year = []
err = []
for date in data['issue_date']:
    try:
        license_year.append(date.year)
    except error as e:
        err.append(e)
        license_year.append(date)
data['licence_year'] = license_year

In [126]:
disciplinary_year = []
err = []
for date in data2['disp_start']:
    try:
        disciplinary_year.append(date.year)
    except error as e:
        err.append(e)
        disciplinary_year.append(date)
data2['disciplinary_year'] = disciplinary_year

In [137]:
license_data_2017 = data[data['licence_year']==2017]
disciplinary_data_2017 = data2[data2['disciplinary_year']==2017]

In [139]:
len(license_data_2017)

11925

In [140]:
len(disciplinary_data_2017)

692

In [141]:
692/11925

0.058029350104821804

A function that tells us in a given year, the ratio of fines recieved to total number of licenses issued

In [232]:
def fine_to_license_ratio(license_data, fine_data, column_name1=None, column_name2=None,year=None):
    """Get ratio of fines to licenses issued in a given year
    
    Parameters:
    -----------
    license_data: DataFrame
        Any subset of the Professional and Occupational Licensing dataframe   
    fine_data: DataFrame
        Any subset of the Disciplinary Actions dataframe 
    year: int
        Year to use to subset your data
    column_name1: Series
        Column containing years in license_data dataset
    column_name2: Series
        Column containing years in fine_data dataset
    
    Returns:
    --------
    tuple
        A tuple with year as the first entry and ratio as the second
        (year, ratio)
    """
    
    int(year)
    str(column_name1)
    str(column_name2)
    
    if year not in license_data[column_name1].unique() or year not in fine_data[column_name2].unique():
        return  str(year) + " not a valid year for this dataset"
    else:
        license_data = license_data[license_data[column_name1]==year]
        fine_data = fine_data[fine_data[column_name2]==year]
    try:
        ratio = len(fine_data)/len(license_data) * 100
        print("In the year " + str(year) + ", " + str(ratio)[:4] + "% of license recipients were issued disciplinary action(s)"
          + "\n" +str(len(license_data)) + " licenses issued, " + str(len(fine_data)) + " fines issued")
        return year, ratio
    except ZeroDivisionError:
        print("Hmmm...It looks like there is are no licenses yet for the year " + str(year))

In [233]:
fine_to_license_ratio(license_data=data, fine_data=data2, column_name1='licence_year', column_name2='disciplinary_year', year=2017)

In the year 2017, 5.80% of license recipients were issued disciplinary action(s)
11925 licenses issued, 692 fines issued

(2017, 5.80293501048218)

In [191]:
data[data['licence_year']==2177]

,city,combined_name,count,country,disciplinary_action,expiration_date,first_name,issue_date,last_name,license_no,license_status,license_type,licensee_url,licensee_url_description,profession_id,state,zip_code,licence_year
241879,Mount Royal,"Whiting, Toni Lyn",1,United States,N,2017-10-10T00:00:00.000,Toni,2177-08-01,Whiting,GN-0005269,Null and Void,Temporary Permit - GN,https://dpronline.delaware.gov/mylicense%20web...,NaN,Nursing,NJ,08061,2177.0

Create function to group data by `profession_id` and then input that data into `fine_to_license_ratio` to compute the ratio of fines to licenses for that particular profession.

In [248]:
def fine_to_license_ratio_profession(license_data, fine_data, profession, profession_column_license, profession_column_fine, column_name1=None, column_name2=None,year=None):
    """Get ratio of fines to licenses issued in a given year
    
    Parameters:
    -----------
    license_data: DataFrame
        A subset of the Professional and Occupational Licensing dataframe by profession  
    fine_data: DataFrame
        A subset of the Disciplinary Actions dataframe by profession
    profession: str
        Profession to get out of your grouped data
    profession_column_license: str
        Column name of professions in Occupational Licensing dataframe
    profession_column_fine: str
        Column name of professions in Disciplinary Actions dataframe dataframe
    year: int
        Year to use to subset your data
    column_name1: Series
        Column containing years in license_data dataset
    column_name2: Series
        Column containing years in fine_data dataset
    
    Returns:
    --------
    tuple
        A tuple with year as the first entry and ratio as the second
        (year, ratio)
    """
    
    int(year)
    str(column_name1)
    str(column_name2)
    
    grouped_license_data = license_data.groupby(profession_column_license)
    grouped_fine_data = fine_data.groupby(profession_column_fine)
    license_profession_df = grouped_license_data.get_group(profession)
    fine_profession_df = grouped_fine_data.get_group(profession)
    return fine_to_license_ratio(license_data=license_profession_df, fine_data=fine_profession_df, column_name1=column_name1, column_name2=column_name2,year=year)

In [249]:
fine_to_license_ratio_profession(license_data=data, fine_data=data2, profession='Nursing', profession_column_license='profession_id', profession_column_fine='profession_id', column_name1='licence_year', column_name2='disciplinary_year', year=2000)

In the year 2000, 0.77% of license recipients were issued disciplinary action(s)
1296 licenses issued, 10 fines issued

(2000, 0.7716049382716049)

In [236]:
data2.head()

,combined_name,count,disp_end,disp_start,first_name,item_text,last_name,license_id_l,license_type,profession_id,disciplinary_year
0,"Jones, Matthew T.",1,NaN,2017-06-13,Matthew,Remedial Education,Jones,N1-0002718,Veterinarian,Veterinary Medicine,2017.0
1,"Jones, Matthew T.",1,NaN,2017-06-13,Matthew,Probation,Jones,N1-0002718,Veterinarian,Veterinary Medicine,2017.0
2,"Fortner, Elizabeth Buckley",1,NaN,2011-06-03,Elizabeth,Letter of Reprimand,Fortner,G2-0002068,Dental Hygienist,Dentistry,2011.0
3,"Hynson, Lauren Marie",1,2017-07-14T00:00:00.000,2017-04-12,Lauren,Remedial Education,Hynson,L1-0041565,Registered Nurse,Nursing,2017.0
4,"Hensley, Leslie A Doughty",1,2017-07-16T00:00:00.000,2013-07-16,Leslie,Probation,Hensley,L6-0A00209,Certified Registered Nurse Anesthetist,Nursing,2013.0

For nursing compare growth in number of licenses issued by year to growth of fines issued.

In [250]:
import numpy as np
for date in np.arange(2000,2018):
    fine_to_license_ratio_profession(license_data=data, fine_data=data2, profession='Nursing', profession_column_license='profession_id', profession_column_fine='profession_id', column_name1='licence_year', column_name2='disciplinary_year', year=date)

In the year 2000, 0.77% of license recipients were issued disciplinary action(s)
1296 licenses issued, 10 fines issued
In the year 2001, 1.08% of license recipients were issued disciplinary action(s)
1106 licenses issued, 12 fines issued
In the year 2002, 0.76% of license recipients were issued disciplinary action(s)
1172 licenses issued, 9 fines issued
In the year 2003, 1.26% of license recipients were issued disciplinary action(s)
1184 licenses issued, 15 fines issued
In the year 2004, 2.01% of license recipients were issued disciplinary action(s)
1935 licenses issued, 39 fines issued
In the year 2005, 2.11% of license recipients were issued disciplinary action(s)
2462 licenses issued, 52 fines issued
In the year 2006, 1.20% of license recipients were issued disciplinary action(s)
2578 licenses issued, 31 fines issued
In the year 2007, 0.72% of license recipients were issued disciplinary action(s)
2609 licenses issued, 19 fines issued
In the year 2008, 0.87% of license recipients were issued disciplinary action(s)
2626 licenses issued, 23 fines issued
In the year 2009, 0.94% of license recipients were issued disciplinary action(s)
2113 licenses issued, 20 fines issued
In the year 2010, 2.60% of license recipients were issued disciplinary action(s)
2147 licenses issued, 56 fines issued
In the year 2011, 2.41% of license recipients were issued disciplinary action(s)
2316 licenses issued, 56 fines issued
In the year 2012, 4.77% of license recipients were issued disciplinary action(s)
2344 licenses issued, 112 fines issued
In the year 2013, 4.93% of license recipients were issued disciplinary action(s)
2413 licenses issued, 119 fines issued
In the year 2014, 3.94% of license recipients were issued disciplinary action(s)
2614 licenses issued, 103 fines issued
In the year 2015, 8.43% of license recipients were issued disciplinary action(s)
2394 licenses issued, 202 fines issued
In the year 2016, 6.50% of license recipients were issued disciplinary action(s)
2246 licenses issued, 146 fines issued
In the year 2017, 5.97% of license recipients were issued disciplinary action(s)
2492 licenses issued, 149 fines issued