In [60]:
# Imports and all that good stuff

import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json

from datetime import date
from bs4 import BeautifulSoup
%matplotlib inline
from matplotlib import style
style.use('seaborn-white')

In [19]:
toxic_data_url = "https://data.delaware.gov/resource/u2vy-dniy.csv"
pd.read_csv(toxic_data_url).columns.values # get column names

array(['accid', 'basiscode1', 'basiscode2', 'calc_off_dis',
       'calc_off_er_b', 'calc_off_rcy_b', 'calc_rel_b', 'cas_no',
       'cert_name', 'cert_title', 'chem_name', 'cont_e_address',
       'cont_name', 'cont_phone', 'fac_city', 'fac_county', 'fac_mailcity',
       'fac_mailcounty', 'fac_mailstate', 'fac_mailstreet1',
       'fac_mailstreet2', 'fac_mailzip', 'fac_name', 'fac_street1',
       'fac_zip', 'form_a', 'form_r', 'fugitive', 'fugitivebasis',
       'geocoded_facility_location', 'geocoded_facility_location_address',
       'geocoded_facility_location_city',
       'geocoded_facility_location_state',
       'geocoded_facility_location_zip', 'landfarm', 'landfarmbasis',
       'landfill', 'landfillbasis', 'landimp', 'landimp_othr',
       'landimp_othrbasis', 'landimpbasis', 'landothr', 'landothrbasis',
       'max_onsite', 'metal', 'metal_to_potw', 'naics', 'naics1', 'naics2',
       'naics3', 'naics4', 'naics5', 'naics6', 'non_potw_off_tre',
       'off_basis1', 'off_basis2', 'off_basis3', 'off_basis4',
       'off_basis5', 'off_basis6', 'off_basis7', 'off_basis8',
       'off_basis9', 'off_city1', 'off_city2', 'off_city3', 'off_city4',
       'off_city5', 'off_city6', 'off_city7', 'off_city8', 'off_city9',
       'off_er_b', 'off_name1', 'off_name2', 'off_name3', 'off_name4',
       'off_name5', 'off_name6', 'off_name7', 'off_name8', 'off_name9',
       'off_rcy_b', 'off_state1', 'off_state2', 'off_state3', 'off_state4',
       'off_state5', 'off_state6', 'off_state7', 'off_state8',
       'off_state9', 'off_ste_rel1', 'off_ste_rel2', 'off_ste_rel3',
       'off_ste_rel4', 'off_ste_rel5', 'off_ste_rel6', 'off_ste_rel7',
       'off_ste_rel8', 'off_ste_rel9', 'off_ste_tre1', 'off_ste_tre2',
       'off_ste_tre3', 'off_ste_tre4', 'off_ste_tre5', 'off_ste_tre6',
       'off_ste_tre7', 'off_ste_tre8', 'off_ste_tre9', 'off_tre',
       'on_er_b', 'on_rcy_b', 'on_tre_b', 'p_index', 'potw', 'potw2',
       'potwbasis1', 'potwbasis2', 'potwcity1', 'potwcity2', 'potwfac1',
       'potwfac2', 'potwstate1', 'potwstate2', 'rcra_rel', 'rcra_relbasis',
       'rel_81_a', 'rel_81_b', 'rel_81_c', 'rel_81_d', 'release_b',
       'report_num', 'repyr', 'revision', 'revisioncode1', 'revisioncode2',
       'river1', 'river2', 'riverpercent1', 'riverpercent2', 'stack',
       'stackbasis', 'tech_e_address', 'tech_name', 'tech_phone',
       'total_to_air', 'total_to_land', 'total_to_water', 'trifacid',
       'water1', 'water2', 'withdrawal', 'withdrawalcode1',
       'withdrawalcode2'], dtype=object)

In [21]:
columns = ['geocoded_facility_location','geocoded_facility_location_address','geocoded_facility_location_city','geocoded_facility_location_state','geocoded_facility_location_zip']
toxic_data = pd.read_csv(toxic_data_url, usecols=columns)

In [22]:
toxic_data.head() # To make sure we grabbed the right columns

,geocoded_facility_location,geocoded_facility_location_address,geocoded_facility_location_city,geocoded_facility_location_state,geocoded_facility_location_zip
0,NaN,1645 RIVER RD,DELAWARE CITY,DE,19706.0
1,NaN,436 CES/CC 600 CHEVRON AVE,DOVER AFB,DE,19902.0
2,NaN,436 CES/CC 600 CHEVRON AVE,DOVER AFB,DE,19902.0
3,NaN,436 CES/CC 600 CHEVRON AVE,DOVER AFB,DE,19902.0
4,NaN,436 CES/CC 600 CHEVRON AVE,DOVER AFB,DE,19902.0

In [48]:
school_data_url = "https://data.delaware.gov/resource/tdwa-q9bt.json"
pd.read_json(school_data_url).columns.values # get column names

array(['city', 'county', 'districtcode', 'districtname', 'districttype',
       'educationlevel', 'geocoded_location', 'hasec',
       'haselementarygrade', 'hashighgrade', 'haskn', 'hasmiddlegrade',
       'haspk', 'highestgrade', 'isungraded', 'lowestgrade', 'schoolcode',
       'schoolname', 'schooltype', 'schoolyear', 'state', 'street1',
       'street2', 'zip'], dtype=object)

In [49]:
#columns = ['schoolname', 'schooltype','geocoded_location','street1','street2','state','zip']
school_data = pd.read_json(school_data_url)

In [50]:
school_data.head()

,city,county,districtcode,districtname,districttype,educationlevel,geocoded_location,hasec,haselementarygrade,hashighgrade,...,isungraded,lowestgrade,schoolcode,schoolname,schooltype,schoolyear,state,street1,street2,zip
0,Camden,Kent,10,Caesar Rodney School District,Regular,Elementary,"{'human_address': '{""address"":""238 Sorghum Mil...",0,1,0,...,0,01,610,Allen Frear Elementary School,PUBLIC,2016,DE,238 Sorghum Mill Road,--,19934
1,Magnolia,Kent,10,Caesar Rodney School District,Regular,Kindergarten,"{'human_address': '{""address"":""Post Office Box...",0,0,0,...,0,KG,611,J. Ralph McIlvaine Early Childhood Center,PUBLIC,2016,DE,Post Office Box 258,11 East Walnut,19962
2,Dover,Kent,10,Caesar Rodney School District,Regular,Elementary,"{'human_address': '{""address"":""3100 Hawthorne ...",0,1,0,...,0,01,612,Major George S. Welch Elementary School,PUBLIC,2016,DE,3100 Hawthorne Drive,--,199015391
3,Camden,Kent,10,Caesar Rodney School District,Regular,Elementary,"{'human_address': '{""address"":""5 Old North Roa...",0,1,0,...,0,KG,615,Kent Elementary Intensive Learning Center,PUBLIC,2016,DE,5 Old North Road,--,199341247
4,Dover,Kent,10,Caesar Rodney School District,Regular,Elementary,"{'human_address': '{""address"":""3874 Upper King...",0,1,0,...,0,01,616,Nellie Hughes Stokes Elementary School,PUBLIC,2016,DE,3874 Upper King Road,--,19904

In [51]:
json_data = school_data['geocoded_location']

In [57]:
df = json_data.to_frame()

In [62]:
df.head()

                                   geocoded_location
0  {'human_address': '{"address":"238 Sorghum Mil...
1  {'human_address': '{"address":"Post Office Box...
2  {'human_address': '{"address":"3100 Hawthorne ...
3  {'human_address': '{"address":"5 Old North Roa...
4  {'human_address': '{"address":"3874 Upper King...

In [75]:
dum = df.loc[0].to_json()

In [78]:
dum2 = json.loads(dum)

In [79]:
type(dum2)

dict

In [80]:
pd.DataFrame.from_dict(dum2)

                                                geocoded_location
human_address   {"address":"238 Sorghum Mill Road","city":"Cam...
latitude                                                39.102626
longitude                                              -75.512466
needs_recoding                                              False